body {
    background-color: var(--main-bg);
    font-family: 'Outfit', sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--card-bg);
    max-width: 300px;
    height: 500px;
    border-radius: 15px;
    padding: 20px;
}

.card-image {
    border-radius: 15px;
    width: 100%;
}

.card-description,
.days-left,
.creator p {
    color: var(--text-color);
    font-weight: 300;
}

.ethereum p {
    color: var(--eth-text-color);
    margin-left: 7px;
}

.card-title {
    color: var(--title-color);
    margin-top: 20px;
    font-size: 18px;
}

.card-description {
    margin-top: 20px;
    font-size: 15px;
}

.nft-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 14px;
    width: 100%;
}

.nft-info .ethereum, .days-left {
    display: flex;
    flex-direction: row;
    height: 18px;

}

.nft-info .days-left p {
    margin-left: 5px;
    width: 80%;
}

.creator {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.creator img {
    width: 40px;
    border: solid 2px var(--title-color);
    border-radius: 50%;
}

.creator p {
    margin-left: 15px;
}

.creator a {
    color: var(--title-color);
}

a :hover  {
    transition: 0.3s;
    color: var(--eth-text-color);
}

.creator a :hover  {
    transition: 0.3s;
    color: var(--eth-text-color);
}
