body {
    background-color: var(--main-bg);
    font-family: 'Outfit', sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--card-bg);
    max-width: 300px;
    height: 520px;
    border-radius: 15px;
    padding: 20px;
}

.card-image {
    border-radius: 15px;
    width: 100%;
}

.card-title {
    color: var(--title-color);
    margin-top: 20px;
    font-size: 18px;
}

.card-description {
    margin-top: 20px;
    font-size: 15px;
}

.card-description,
.days-left,
.creator p {
    color: var(--text-color);
    font-weight: 300;
}

.nft-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 14px;
    height: 50px;
}

.nft-info .price, .nft-info .days-left {
    display: flex;
    flex-direction: row;
    height: 18px;
}

.nft-info .price p {
    color: var(--eth-text-color);
}

.nft-info .days-left::before {
    content: '';
    background: url(../images/icon-clock.svg) no-repeat center;
    /* background-image: url(../images/icon-clock.svg) no repeat;
    background-repeat: no-repeat;
    background-position: center; */
    width: 15px;
    display: inline-block;
    margin-right: 4px;
}


.nft-info .price::before {
    content: '';
    background: url(../images/icon-ethereum.svg) no-repeat center;
    width: 11px;
    height: 20px;
    display: inline-block;
    margin-right: 7px;
}


.card .creator {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    border-top: 1px solid var(--line);
    padding-top: 10px;
}

.card .creator img {
    width: 35px;
    border: solid 2px var(--title-color);
    border-radius: 50%;
}

.card .creator p {
    margin-left: 15px;
}

.creator a {
    color: var(--title-color);
}

.card a :hover {
    transition: 0.3s;
    color: var(--eth-text-color);
}

.creator a :hover {
    color: var(--eth-text-color);
}